<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="main.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">

</head>
<body>
<div class="container">
    <h1>Store Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dojo Tshirt</td>
                <td>$19.99</td>
                <form action="/store/calc/" method="post">
                    {% csrf_token %}
                    <td>
                        <select name='quantity'>
{#                            <option selected="selected" disabled>Objects on page:</option>#}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                <td><input type="hidden" name="product_id" value="1">
                <input type="submit" name="submit" value="Buy!"></td>
                </form>
            </tr>
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <form action="/store/calc/" method="post">
                    {% csrf_token %}
                    <td>
                        <select name='quantity'>
{#                            <option selected="selected" disabled>Objects on page:</option>#}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                <td><input type="hidden" name="product_id" value="2">
                <input type="submit" name="submit" value="Buy!"></td>
                </form>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <form action="/store/calc/" method="post">
                    {% csrf_token %}
                    <td>
                        <select name='quantity'>
{#                            <option selected="selected" disabled>Objects on page:</option>#}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                <td><input type="hidden" name="product_id" value="3">
                <input type="submit" name="submit" value="Buy!"></td>
                </form>
            </tr>
            <tr>
                <td>Algorithm Good</td>
                <td>$49.99</td>
                <form action="/store/calc/" method="post">
                    {% csrf_token %}
                    <td>
                        <select name='quantity'>
{#                            <option selected="selected" disabled>Objects on page:</option>#}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                <td><input type="hidden" name="product_id" value="4">
                <input type="submit" name="submit" value="Buy!"></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>